.first{ 
    background: #e6f2fa; 
    padding:0 100px; 
}
.word{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: lightblue;
}
.Words{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); 
    background-attachment: fixed; 
}
body, html{
    margin: 0;
    height: 100%; 
}
.begin{
color: blue;
margin: 0; 
padding: 10px 30px; 
width: 50vw; 
text-align: center; 
}
.p{
    line-height: 30px; 
    font-size: 1em; 
}
.img{
    position: sticky; 
    top: 40%;
}
.div{ 
    display: flex; 
}
